.blogCardList {
	display: grid;
	gap: 10px;

	@media (min-width: 0) {
		grid-template-columns: 1fr;
	}

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: 1120px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
