.container {
	display: "flex";
	flex-direction: "column";
	align-items: center;
	position: relative;
	min-height: 100vh;
	background-color: var(--color-bg-base);
	width: 100%;

	.content {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
