@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sectionTitle {
  .title {
    font-weight: bold;
  }

  .border {
    border-bottom: solid 1px var(--color-primary);
    bottom: 0;
    animation: slide 2s forwards;
  }

  .description {
    animation: fadeDown 1s forwards 1s;
    opacity: 0;
  }

  @media (min-width: 0) {
    .title {
      font-size: 20px;
    }

    .description {
      font-size: 12px;
      font-family: sans-serif;
    }
  }

  @media (min-width: 768px) {
    .title {
      font-size: 30px;
    }

    .description {
      font-size: 14px;
      font-family: sans-serif;
    }
  }
}
